* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: $colorBlue;
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Bold.ttf);
    font-weight: 900;
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Black.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 900;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Black.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}

body {
    background: $colorLightGrey;
    color: $colorGrey;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.75;
    font-weight: 400;
}

.container {
    max-width: min(calc(1340px - 30px));
    margin-inline: auto;
    padding: 0 15px;
}


.section_main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .text {
        .title {
            font-weight: 700;
            font-size: 80px;
            line-height: 1.3em;
            margin-bottom: 30px;
            max-width: 900px;
            min-height: 189px;
            span {
                display: block;
                &.top {
                    opacity: 1;
                    transform: translateY(0);
                    transition: $transition;
                    will-change: transform;
                }
                &.bottom {
                    transition: $transition;
                }
            }
        }
        .description {
            font-size: 32px;
            opacity: 1;
            transform: translateY(0);
            transition: $transition;
            will-change: transform;
            margin-bottom: 15px;
        }

        .socials {
            display: flex;
            gap: 18px;
            align-items: center;
            margin: 2px;
            position: relative;
            width: fit-content;
            overflow: hidden;

            &::after {
                display: block;
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background: $colorBlue;
                top: 0;
                left: 0;
                transition: $transition;
                will-change: transform;
            }

            // border-top: 3px solid $colorBlue;
            // width: fit-content;

            a {
                padding-top: 10px;
                line-height: normal;
                position: relative;
                min-width: 24px;
                text-align: center;
                animation: cubic-bezier(0.075, 0.5, 0, 1), 0.5s linkUpDownAnimation both;
                animation-play-state: running;
                will-change: contents;

                &:nth-child(1) {
                    animation-delay: 0.7s;
                }
                &:nth-child(2) {
                    animation-delay: 0.75s;
                }
                &:nth-child(3) {
                    animation-delay: 0.8s;
                }
                &:nth-child(4) {
                    animation-delay: 0.85s;
                }
            }
        }
    }
    .icon {
        width: 376px;
        height: 375px;
        border-radius: 50%;
        background: $colorLightBlue;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        transition: 0.2s cubic-bezier(0.075, 0.5, 0, 1);
        opacity: 1;
        flex-shrink: 0;

        .man {
            transition: $transition;
            will-change: transform;
        }
    }
}

@keyframes linkUpDownAnimation {
    0% {
        transform: translateY(-100%);
    }
    95% {
        transform: translateY(6%);
    }
    100% {
        transform: translateY(0%);
    }
}

.animation .man {
    transform: translateY(100%);
}

.animation .icon {
    opacity: 0;
}

.animation .section_main .text .title span.top {
    opacity: 0;
    transform: translateY(15px);
}

.animation .section_main .text .description {
    opacity: 0;
    transform: translateY(-15px);
}

.section_title {
    font-weight: 700;
    font-size: 66px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    gap: 30px;

    &::after {
        content: "";
        display: block;
        width: 130px;
        height: 2px;
        background: $colorBlue;
    }
}

.section_skills {
    padding: 100px 0;
    background:$colorLightGrey;
    .skills_block {
        max-width: 700px;
        margin-left: auto;
        .skill {
            margin-bottom: 50px;
            .skills_title {
                font-weight: 700;
                font-size: 24px;
                margin-bottom: 20px;
            }
            .skills_block {
                display: grid;
                grid-auto-flow: column dense;
                grid-template: repeat(4, 1fr) / repeat(3, 1fr);
                .skills {
                    font-size: 18px;
                }
            }
        }
    }
}

.section_experience {
    padding: 100px 0 200px;
    background: $colorLightGrey;

    .experience_blocks {
        max-width: 960px;
        margin-left: auto;

        .item {
            display: flex;
            gap: 50px;

            &:first-child {
                & .experience_block.text {
                    &::after {
                        box-shadow: 0px 0px 10px $colorBlue;
                    }
                }
            }

            &:last-child {
                & .experience_block.text {
                    padding-bottom: 0;
                }
            }
            .experience_block {
                &.date {
                    flex-shrink: 0;
                    min-width: 140px;
                    line-height: 1em;
                    font-size: 16px;
                    text-align: right;

                    span {
                        position: relative;
                        display: block;
                        &::after {
                            content: "";
                            display: block;
                            position: absolute;
                            width: 0px;
                            height: 100%;
                            background: $colorGrey;
                            left: 0;
                            top: 0;
                            transition: $transition;
                            will-change: transform;
                        }
                    }
                }

                &.text {
                    position: relative;
                    padding-left: 66px;
                    padding-bottom: 60px;

                    &::before,
                    &::after {
                        position: absolute;
                        display: block;
                        content: "";
                        top: 0;
                        left: 0;
                        transition: $transition;
                        will-change: transform;
                    }
                    &::before {
                        width: 2px;
                        background: $colorBlue;
                        height: 100%;
                        left: 7px;
                    }

                    &::after {
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        background: $colorBlue;
                        box-shadow: 0px 0px 5px $colorBlue;
                    }

                    .title {
                        padding: 1px;
                        font-size: 22px;
                        font-weight: 500;
                        line-height: 1em;
                        margin-bottom: 15px;
                        position: relative;

                        &::after {
                            content: "";
                            display: block;
                            position: absolute;
                            width: 0px;
                            height: 100%;
                            background: $colorGrey;
                            left: 0;
                            top: 0;
                            transition: $transition;
                            will-change: transform;
                        }
                    }

                    .description {
                        font-size: 18px;
                        line-height: 1.3em;
                        position: relative;

                        &::after {
                            content: "";
                            display: block;
                            position: absolute;
                            width: 0px;
                            height: 100%;
                            background: $colorGrey;
                            left: 0;
                            top: 0;
                            transition: $transition;
                            will-change: transform;
                        }
                    }
                }
            }

            &.animation-scroll {
                /*  */
                .experience_block {
                    &.date {
                        span {
                            &::after {
                                width: 100%;
                            }
                        }
                    }

                    &.text {
                        .title {
                            &::after {
                                width: 100%;
                            }
                        }

                        .description {
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                }
                /*  */
            }
        }
    }
}

.animation .section_main .text .socials::after {
    width: 0;
}
.animation .section_main .text .socials a {
    transform: translateY(-100%);
    animation-play-state: paused;
}
.section_experience {
    .experience_blocks {
        .item {
            &.animation-scroll {
                .experience_block {
                    &.text {
                        &::before {
                            height: 0%;
                        }
                        &::after {
                            transform: scale(0);
                        }
                    }
                }
            }
        }
    }
}
