.dark-content {
    transition: background-color 0.2s cubic-bezier(0.075, 0.5, 0, 1), 0.2s;
    background-color: $colorGrey;
}

.dark-content .loading .loading_wrapper .loading_progress .block.bottom,
.dark-content .loading .loading_wrapper .loading_progress .block.top {
    transition: auto;
}

.dark-content .loading_wrapper .loading_progress .block.bottom,
.dark-content .loading_wrapper .loading_progress .block.top {
    background-color: $colorGrey;
}

.dark-content,
.dark-content header .container_big nav .links a,
.dark-content header .container_big .logo,
.dark-content body.dark-content {
    color: $colorWhite;
}
.dark-content .loading .loading_wrapper .loading_progress .author {
    color: $colorWhite;
    transition: auto;
}

.dark-content .loading_wrapper .loading_progress .progress::after {
    background: $colorBlue;
}

.dark-content .loading_wrapper .loading_progress .block.top {
    box-shadow: 0px 2px 5px rgb(33 102 235 / 20%);
}
.dark-content .loading_wrapper .loading_progress .block.bottom {
    box-shadow: 0px -2px 2px rgb(33 102 235 / 20%);
}
