//

$index: calc(1vh + 1vw);
$transition: 0.75s cubic-bezier(0.075, 0.5, 0, 1), .7s;
// COLORS

$colorWhite: #ffffff;
$colorGrey: #363636;
$colorBlue: #2166eb;
$colorLightBlue: #c9e3f0;
$colorLightGrey: #f9f9f9;

// BREAKPOINTS
